<a href="https://colab.research.google.com/github/AliConda/AliConda/blob/main/BS4_Beautifull_soup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import bs4 as bs
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from bs4 import BeautifulSoup
import requests

##HTTP Request

In [ ]:
#store the website in variable

website= 'https://www.cars.com/shopping/results/?stock_type=all&makes%5B%5D=mercedes_benz&models%5B%5D=&list_price_max=&maximum_distance=20&zip='

##Get HTTP request

In [ ]:
response=requests.get(website)

In [ ]:
response.status_code

200

##Soup Object

In [ ]:
soup=BeautifulSoup(response.content,'html.parser')

###Results

### create a variable and store the results into it, a list

In [ ]:
results=soup.find_all('div',{'class':'vehicle-card'})  #   <div class='vehicle-car   div is tag,   classis  attribute  vehicle-car is result

In [ ]:
len(results)

# as there are 20 cars in each page, and each div tag

20

In [ ]:
# so  result[0] , refers to the first car in the list

#Target the necessary Data

In [ ]:
# Name
#Milage
#Rating
#Rating Count
#Price

###Name

In [ ]:
results[0].find('h2').get_text()

'2019 Mercedes-Benz SLC 300 Base'

In [ ]:
results[0].find('div',{'class':'mileage'}).get_text()

'22,248 mi.'

In [ ]:
results[0].find('span',{'class':'sds-rating__count'}).get_text()

'4.9'

In [ ]:
results[0].find('span',{'class':'sds-rating__link sds-button-link'}).get_text()

'(1,072 reviews)'

In [ ]:
results[0].find('span',{'class':'sds-rating__link'}).get_text()

'(1,072 reviews)'

In [ ]:
results[0].find('span',{'class':'primary-price'}).get_text()

'$49,988'

In [ ]:
results[0].find('div',{'class':'dealer-name'}).get_text()

'\nMercedes-Benz of North Scottsdale\n'

In [ ]:
'\n djsksm sksksl\n'.strip()   #so that you know what .strip( does)

'djsksm sksksl'

###Looping through All results

# Creating  an empty list for each data point and then fill them with looping through each data source

In [ ]:
name=[]
milage=[]
dealer_name=[]
rating=[]
rating_count=[]
price=[]

In [ ]:




for i in range(len(results)):
  name.append(results[i].find('h2').get_text())
  milage.append(results[i].find('div',{'class':'mileage'}).get_text())
  dealer_name.append(results[i].find('div',{'class':'dealer-name'}).get_text())
  rating.append(results[i].find('span',{'class':'sds-rating__count'}).get_text())
  rating_count.append(results[i].find('span',{'class':'sds-rating__link'}).get_text())
  price.append(results[i].find('span',{'class':'primary-price'}).get_text())

In [ ]:
#Note  In case data points missing use the following the for loop

#     for i in range(len(results)):
#        try:
            #name.append(results[i].find('h2').get_text())
#        except:
#           name.append('not data')

#  This will ensure that if a data poiint is missing from the data , we dont get an error message , and have the not data inputed in the designated list

#Create a Pandas data fram

In [ ]:
df=pd.DataFrame({'Name':name, 'Milage':milage, 'Dealer':dealer_name, 'Rating':rating, 'Rating_count':rating_count, 'Price':price})

In [ ]:
df.head(5)

                                           Name  ...    Price
0               2019 Mercedes-Benz SLC 300 Base  ...  $49,988
1        2020 Mercedes-Benz GLS 450 Base 4MATIC  ...  $99,500
2          2016 Mercedes-Benz GLE-Class GLE 350  ...  $26,991
3  2017 Mercedes-Benz AMG CLS 63 S-Model 4MATIC  ...  $56,795
4        2017 Mercedes-Benz CLS 550 Base 4MATIC  ...  $44,921

[5 rows x 6 columns]

In [ ]:
# Lets clean up the data

In [ ]:
df['Rating_count']=df['Rating_count'].apply(lambda X: X.strip('reviews)').strip('('))

In [ ]:
df.head(2)

                                     Name      Milage  ... Rating_count    Price
0         2019 Mercedes-Benz SLC 300 Base  22,248 mi.  ...       1,072   $49,988
1  2020 Mercedes-Benz GLS 450 Base 4MATIC  13,509 mi.  ...           7   $99,500

[2 rows x 6 columns]

In [ ]:
df['Price']=df['Price'].apply(lambda X:X.strip('$'))

In [ ]:
df.head(2)

                                     Name      Milage  ... Rating_count   Price
0         2019 Mercedes-Benz SLC 300 Base  22,248 mi.  ...       1,072   49,988
1  2020 Mercedes-Benz GLS 450 Base 4MATIC  13,509 mi.  ...           7   99,500

[2 rows x 6 columns]

In [ ]:
df['Dealer']=df['Dealer'].apply(lambda X: X.strip())

In [ ]:
df.head(2)

                                     Name      Milage  ... Rating_count   Price
0         2019 Mercedes-Benz SLC 300 Base  22,248 mi.  ...       1,072   49,988
1  2020 Mercedes-Benz GLS 450 Base 4MATIC  13,509 mi.  ...           7   99,500

[2 rows x 6 columns]

In [ ]:
df['Milage']=df['Milage'].apply(lambda X: X.strip('mi'))

In [ ]:
df.head(2)

                                     Name      Milage  ... Rating_count   Price
0         2019 Mercedes-Benz SLC 300 Base  22,248 mi.  ...       1,072   49,988
1  2020 Mercedes-Benz GLS 450 Base 4MATIC  13,509 mi.  ...           7   99,500

[2 rows x 6 columns]

In [ ]:
df.to_excel('Benz.xlsx',index=False)

In [ ]:
# So far we only Got results from one page,   how about all the pages available?

In [ ]:
#We need to Implement some modifications to our codes, so  lets copy this code and modify it